body {
  font-size: 16px;
  background-color: white;
  font-family: sans-serif;
  color: black;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
/*   margin-left: 50px; */
}
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  font: 25px sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 1.6em;
}

.text {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5%;
  padding-top: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: sans-serif;
  color: #000;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
}
#nav-list a:hover {
  background: #0000;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */

/* HOME PAGE */
#menu {
  /* height: 250px; */
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #0000;
  overflow: hidden;
  background-position: center;
  background-color: gray;

}
#menu:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: gray;
  color: black;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



